<div id="cards" class="page-layout simple fullwidth">
    <!-- CONTENT -->
    <div class="content" [ngClass]="this.view">

        <div class="cards">

            <!-- CARD 1 -->
            <div class="card">

                <!-- PREVIEW -->
                <div class="card-preview">
                    <div class="fuse-card">

                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
                    
                            <div class="pr-16">
                                <div class="h1">Brooklyn</div>
                                <div class="h4 secondary-text">Travel guide</div>
                            </div>
                    
                            <div class="w-160 h-160">
                                <img src="assets/images/cards/card2-large.jpg">
                            </div>
                    
                        </div>
                    
                        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                            <button mat-button color="accent">READ</button>
                            <button mat-button color="accent">SHARE</button>
                        </div>
                    
                    </div>
                </div>
            </div>

            
        </div>
    </div>

</div>

