@import "src/@fuse/scss/fuse";

#new_appraisal {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .header {

    text-align: center;

    h1 {
      font-size: 40px;
      font-weight: 300;
    }
    
  }

  .panels-content {
    width: 94%;
    margin-left: 3%;

    .example-headers-align .mat-expansion-panel-header-title,
    .example-headers-align .mat-expansion-panel-header-description {
      flex-basis: 0;
    }

    .example-headers-align .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }

    .example-headers-align .mat-form-field + .mat-form-field {
      margin-left: 8px;
    }

    .example-form {
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
    
    td {
      padding-right: 8px;
    }

    #image_upload{
      //display: none;
    }

    .images-section {

      .image-url {
        width: 100%;
        height: 100%;
        background-size: cover;
      }

      .example-card {
        border-radius: 0;

        .photo{
          object-fit: cover;
        }
        .example-card-image {
          background-size: cover;
        }

      }

    }
    .board-list {
      padding: 32px 0;
      max-height: none !important;
      width: 100%;
      text-align: center;

      .board-list-item {
          //max-width: 300px;
          min-height: 125px;
          width: 100%;
          height: 125px;
          padding: 16px 0;
          border-radius: 8px;
          background: rgba(0, 0, 0, 0.12);
          transition: box-shadow 150ms ease-in;
          display: block;
          cursor: pointer;

          &:hover:not(.add-new-board) {
              @include mat-elevation(8);
          }

          .board-icon {
            width: 100%;
            text-align: center;
          }

          .board-name {
              padding: 0 32px 0 32px;
              font-weight: 400;
              font-size: 20px;
              text-align: center;
          }

          .board-subname {
              padding: 0 32px 0 32px;
              font-weight: 400;
              font-size: 16px;
              text-align: center;
          }

          &.add-new-board {
            background: rgba(3, 239, 84, 0.49);
            border: 2px dashed rgba(0, 0, 0, 0.33);
          }
          &.add-new-board2 {
            background: rgba(247, 173, 35, 0.596);
            border: 2px dashed rgba(0, 0, 0, 0.33);
          }
      }
    }
    
  }
  #button_add {
    padding: 12px;
    font-size: 18px;
    margin-top: 3rem;
    margin-left: 25%;
    width: 50%;
  }
}

