
<div id="new_appraisal" class="fuse-navy" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar>
    <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto"
    [@animate]="{value:'*',params:{delay:'100ms'}}">
        <h1>Nueva Tasación</h1>
    </div>

    <!-- NEW APPRAISAL -->
    <div class="panels-content">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Nombre de Vehículo
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Si no se completa este campo, la tasación tendrá como nombre la fecha de la realización de la misma</p>
              <form class="example-form">
                <table class="example-full-width" cellspacing="0"><tr>
                  <td><mat-form-field class="example-full-width">
                    <mat-label>Nombre de nueva Tasación</mat-label>
                    <input matInput placeholder="Ej: Tasación de Vehículo Ford...">
                  </mat-form-field></td>
                </tr></table>
              </form>
              <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
              </mat-action-row>
            </mat-expansion-panel>
          
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Fotos del Vehículo
                </mat-panel-title>
              </mat-expansion-panel-header>
              
              <div [ngStyle]="{'display': 'none'}">
                <input type="file" accept="image/*" capture="camera" class="inputget" (change)="onChange($event, photo)" #camera >
              </div>

              <!-- NEW BOARD BUTTON -->
              <div class="board-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center" 
              [@animateStagger]="{value:'50'}">
                <div class="board-list-item add-new-board" fxLayout="column" fxLayoutAlign="center center" 
                [@animate]="{value:'*',params:{y:'100%'}}" (click)="activeCamera(camera)">
                  <div class="board-icon">
                    <mat-icon class="s-56">photo_camera</mat-icon>
                  </div>
                  <div class="board-name">Pulse aquí para tomar foto</div>
                </div>
              </div>
              <!-- / NEW BOARD BUTTON -->

              <mat-card id="image_upload" class="example-card" [ngStyle]="{'display': flag ? 'block' : 'none'}">
                <img mat-card-image id="photo" class="photo" #photo>
              </mat-card> 

              <mat-grid-list class="images-section" cols="3" rowHeight="1:1">
                <mat-grid-tile>
                  <mat-card class="example-card">
                    <img mat-card-image class="example-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-card class="example-card">
                    <img mat-card-image class="example-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-card class="example-card">
                    <img mat-card-image class="example-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-card class="example-card">
                    <img mat-card-image class="example-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
              

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
              </mat-action-row>
            </mat-expansion-panel>
          
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Documentos
                </mat-panel-title>
              </mat-expansion-panel-header>
          
          
              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                <button mat-button color="primary" (click)="nextStep()">Fin</button>
              </mat-action-row>
            </mat-expansion-panel>
          
        </mat-accordion>

          
    </div>
    <!-- / NEW APPRAISAL -->

</div>




  
